@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("/assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

.menu {
  display: flex;
  height: 104px;
	width: 1280px;
}

.search-input-box {
  display: flex;
  align-items: center;
	border-radius: 3px;
	border: 1px solid #CED0DB;
	background: #FFFFFF;
	box-sizing: border-box;
	border-color: #ced0db;
	border-width: 1px;
	border-style: solid;
	height: 36px;
	width: 240px;
  margin-top: 21px;
  margin-left: 85px;
}

.search-input-content {
	height: 18px;
	width: 216px;
  border-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
}

.search-input-content::placeholder {
	line-height: 18px;
	letter-spacing: 0;
	color: #ACAFBF;
	font-size: 14px;
	font-family: "SourceSansPro-Regular";
	text-transform: none;
	text-align: left;
  background-color: white;
	height: 18px;
	width: 216px;
}

.search-input-content:focus {
  outline: none;
  border-radius: 3px;
  border: 1px solid #51cbee;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -1px;
  margin-right: -2px;
}

.search-btn {
  display: inline-block;
  align-items: center;
	border-radius: 3px;
  border: none;
	background: #67A300;
	height: 36px;
	width: 73px;
  text-align: center;
  line-height: 36px;
  margin-top: 21px;
  margin-left: 12px;
  padding: 0;
  cursor: pointer;
  letter-spacing: -0.08px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "SourceSansPro-Semibold";
  font-style: normal;
	text-transform: none;
}

.search-btn:focus {
  outline: none;
  border-radius: 3px;
  border: 1px solid #51cbee;
}

.add-course-btn {
  display: flex;
  align-items: center;
	border-radius: 3px;
  border: none;
	background: #009ECC;
	height: 36px;
	width: 111px;
  margin-top: auto;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: 85px;
  cursor: pointer;
  line-height: 24px;
	letter-spacing: -0.1px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "SourceSansPro-Semibold";
  font-style: normal;
	text-transform: none;
	font-weight: 600;
}

.add-course-btn:focus {
  outline: none;
  border-radius: 3px;
  border: 1px solid #51cbee;
}

.add-course-btn-icon {
  font-size: 18px;
  color: white;
  height: 18px;
	width: 26px;
}

// .add-course-btn-label {
// 	line-height: 24px;
// 	letter-spacing: -0.1px;
// 	color: #FFFFFF;
// 	font-size: 14px;
// 	font-family: "SourceSansPro-Semibold";
//   font-style: normal;
// 	text-transform: none;
// 	font-weight: 600;
// 	height: 24px;
// 	width: 66px;
//   margin-left: 7px;

// }

// .add-course-circle {
// 	box-sizing: border-box;
//   display: flex;
//   align-items: center;
// 	width: 16px;
// 	height: 16px;
// 	line-height: 1px;
// 	border: 1px solid #fff;
// 	border-radius: 50%;
// 	color:#f5f5f5;
//   padding: 0px;
//   margin-left: 10px;
// }

// .add-course-plus-sign-box {
// 	height: 10px;
// 	width: 10px;
//   margin-left: 6px;
//   margin-top: 2px;
// }

// .add-course-plus-sign {
//   background: white;
//   height: 8px;
//   position: relative;
//   width: 2px;

//   &::after {
//     background: white;
//     content: '';
//     height: 2px;
//     left: -3px;
//     position: absolute;
//     top: 3px;
//     width: 8px;
//   }
// }
