<div class="login-page">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div class="login-title">
        <p>Login</p>
      </div>
      <div class="login-input-title-box">
        <p class="login-input-title">Email</p>
        <p class="required">*required</p>
      </div>
      <div class="login-input">
        <input
          matInput
          type="text"
          class="login-input-content"
          formControlName="login"
          required
          placeholder="Enter email"
        />
        <div *ngIf="submitted && f.login.errors" class="error">
          <div *ngIf="f.login.errors.required">Email is required.</div>
        </div>
      </div>
      <div class="login-input-title-box">
        <p class="login-input-title">Password</p>
        <p class="required">*required</p>
      </div>
      <div class="login-input">
        <input
          matInput
          type="password"
          class="login-input-content"
          formControlName="password"
          required
          placeholder="Enter password"
        />
        <div *ngIf="submitted && f.password.errors" class="error">
          <div *ngIf="f.password.errors.required">Password is required.</div>
          <div *ngIf="(f.password.errors && !f.password.errors.required) || (f.email.errors && !f.email.errors?.required)">Email or password is invalid</div>
        </div>
      </div>
      <div class="login-bottom-box">
        <a href="#" class="forgot-password">Forgot password?</a>
        <button class="login-btn">Login</button>
      </div>
    </div>
  </form>
</div>
