<div class="login-page">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div class="login-title">
        <p>{{ "PAGES.LOGIN.TITLE" | translate }}</p>
      </div>
      <div class="login-input-title-box">
        <p class="login-input-title">{{ "PAGES.LOGIN.EMAIL" | translate }}</p>
        <p class="required">{{ "SHARED.FORM.REQUIRED" | translate }}</p>
      </div>
      <div class="login-input">
        <input
          matInput
          type="text"
          class="login-input-content"
          formControlName="login"
          required
          placeholder="{{ 'PAGES.LOGIN.EMAIL_PLACEHOLDER' | translate }}"
        />
        <div *ngIf="submitted && f.login.errors" class="error">
          <div *ngIf="f.login.errors.required">{{ "PAGES.LOGIN.EMAIL_REQUIRED" | translate }}</div>
        </div>
      </div>
      <div class="login-input-title-box">
        <p class="login-input-title">{{ "PAGES.LOGIN.PASSWORD" | translate }}</p>
        <p class="required">{{ "SHARED.FORM.REQUIRED" | translate }}</p>
      </div>
      <div class="login-input">
        <input
          matInput
          type="password"
          class="login-input-content"
          formControlName="password"
          required
          placeholder="{{ 'PAGES.LOGIN.PASSWORD_PLACEHOLDER' | translate }}"
        />
        <div *ngIf="submitted && f.password.errors" class="error">
          <div *ngIf="f.password.errors.required">{{ "PAGES.LOGIN.PASSWORD_REQUIRED" | translate }}</div>
          <div *ngIf="(f.password.errors && !f.password.errors.required) || (f.email.errors && !f.email.errors?.required)">{{ "PAGES.LOGIN.EMAIL_PASSWORD_INVALID" | translate }}</div>
        </div>
      </div>
      <div class="login-bottom-box">
        <a href="#" class="forgot-password">{{ "PAGES.LOGIN.FORGOT_PASSWORD" | translate }}</a>
        <button class="login-btn">{{ "SHARED.BUTTONS.LOGIN" | translate }}</button>
      </div>
    </div>
  </form>
</div>
