@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("/assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

.login-page {
  position: relative;
  height: 994px;
  width: 1280px;
  background-color: #f8f8f8;
}

.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
  height: 311px;
  width: 368px;
}

.login-title {
  color: #333333;
  font-size: 24px;
  font-family: "SourceSansPro-Semibold";
  text-transform: none;
  text-align: left;
  font-weight: 600;
  height: 31px;
  width: 58px;
  padding-top: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.login-input-title-box {
  display: flex;
  justify-content: space-between;
  height: 24px;
  width: 320px;
  padding-top: 12px;
  padding-left: 24px;
}

.login-input-title {
  line-height: 24px;
  letter-spacing: 0;
  color: #474a59;
  font-size: 14px;
  font-family: "SourceSansPro-Semibold";
  text-transform: none;
  text-align: left;
  font-weight: 600;
  height: 24px;
  width: 38px;
}

.login-input {
  height: 36px;
  width: 320px;
  padding-top: 8px;
  padding-left: 24px;
}

.login-input-content {
  border-radius: 3px;
  border: 1px solid #ced0db;
  background: #ffffff;
  box-sizing: border-box;
  border-color: #ced0db;
  border-width: 1px;
  border-style: solid;
  height: 36px;
  width: 320px;
  padding-left: 12px;
  padding-right: 12px;
}

.login-input-content::placeholder {
  line-height: 18px;
  letter-spacing: 0;
  color: #acafbf;
  font-size: 14px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  background-color: white;
  height: 18px;
  width: 216px;
}

.login-input-content:focus {
  outline: none;
  border-radius: 3px;
  border: 1px solid #51cbee;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -1px;
  margin-right: -2px;
}

.required {
  line-height: 24px;
  letter-spacing: 0;
  color: #474a59;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  height: 24px;
  width: 51px;
}

.login-bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  width: 320px;
  padding-top: 22px;
  padding-left: 24px;
}

.forgot-password {
  line-height: 24px;
  letter-spacing: 0;
  color: #5681ee;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  text-decoration: single;
  height: 24px;
  width: 90px;
}

.login-btn {
  display: inline-block;
  align-items: center;
  border-radius: 3px;
  border: none;
  background: #67a300;
  height: 36px;
  width: 79px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  letter-spacing: -0.08px;
  color: #ffffff;
  font-size: 14px;
  font-family: "SourceSansPro-Semibold";
  font-style: normal;
  text-transform: none;
  padding: 0;
}

.login-btn:focus {
  outline: none;
  border-radius: 3px;
  border: 1px solid #51cbee;
}
