<div class="user-info">
  <div class="user-login-section">
    <mat-icon class="user-login-icon" [inline]="true">person</mat-icon>
  </div>
  <span *ngIf="userData$ | async as userData" class="user-login-text">{{ userData.name.first }}  {{ userData.name.last }}</span>
  <div class="logout-section">
    <mat-icon
      class="logout-icon"
      style="transform: rotate(180deg)"
      [inline]="true"
      >logout</mat-icon
    >
  </div>
  <a [routerLink]="" class="logout-text" (click)="logout()">Log out</a>
</div>
