@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("/assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

.add-course {
  &-page {
    position: relative;
    height: 930px;
    width: 1280px;
    background-color: #f8f8f8;
  }

  &-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
      0 2px 10px 0 rgba(29, 30, 38, 0.15);
    height: 636px;
    width: 730px;
  }

  &-title {
    color: #333333;
    font-size: 24px;
    font-family: "SourceSansPro-Semibold";
    text-transform: none;
    text-align: left;
    font-weight: 600;
    vertical-align: middle;
    height: 31px;
    padding-top: 24px;
    padding-left: 24px;
  }

  &-input-title-box {
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 681px;
    padding-top: 12px;
    padding-left: 24px;
  }

  &-input-title {
    line-height: 24px;
    letter-spacing: 0;
    color: #474a59;
    font-size: 14px;
    font-family: "SourceSansPro-Semibold";
    text-transform: none;
    text-align: left;
    font-weight: 600;
    height: 24px;
    width: 38px;
  }

  &-input {
    height: 36px;
    width: 681px;
    padding-top: 8px;
    padding-left: 24px;
  }

  &-input-content {
    border-radius: 3px;
    border: 1px solid #ced0db;
    background: #ffffff;
    box-sizing: border-box;
    border-color: #ced0db;
    border-width: 1px;
    border-style: solid;
    height: 36px;
    width: 681px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &-input-content::placeholder {
    line-height: 18px;
    letter-spacing: 0;
    color: #acafbf;
    font-size: 14px;
    font-family: "SourceSansPro-Regular";
    text-transform: none;
    text-align: left;
    background-color: white;
    height: 18px;
    width: 216px;
  }

  &-input-content:focus {
    outline: none;
    border-radius: 3px;
    border: 1px solid #51cbee;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &-bottom-box {
    display: flex;
    align-items: flex-end;
    height: 36px;
    width: 681px;
    padding-top: 32px;
    padding-left: 24px;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: none;
    background: #67a300;
    height: 36px;
    width: 64px;
    line-height: 36px;
    cursor: pointer;
    letter-spacing: -0.08px;
    color: #ffffff;
    font-size: 14px;
    font-family: "SourceSansPro-Semibold";
    font-style: normal;
    text-transform: none;
  }

  &-btn:focus {
    outline: none;
    border-radius: 3px;
    border: 1px solid #51cbee;
  }

  &-btn:disabled {
    background: #666666;
  }
}

.description-field {
  height: 108px !important;
}

.numeric-field {
  width: 150px !important;
}

.calendar-field {
  width: 190px !important;
}

.duration {
  padding-left: 19px;
  font-family: "SourceSansPro-Regular";
  font-size: 14px;
}

.authors-field {
  width: 312px !important;
}

.date-placeholder {
  color: #acafbf;
  font-family: "SourceSansPro-Regular";
  text-transform: uppercase;
}

input[type="date"]:valid {
  color: black;
  font-family: "SourceSansPro-Regular";
  font-size: 14px;
}

textarea {
  font-family: "SourceSansPro-Regular";
  font-size: 14px;
}

.required {
  line-height: 24px;
  letter-spacing: 0;
  color: #474a59;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  height: 24px;
}

.cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: none;
  background: rgba(18, 21, 35, 0.2);
  height: 36px;
  width: 76px;
  line-height: 36px;
  cursor: pointer;
  letter-spacing: -0.08px;
  color: #5b616f;
  font-size: 14px;
  font-family: "SourceSansPro-Semibold";
  font-style: normal;
  text-transform: none;
  margin-left: auto;
  margin-right: 12px;
}

.cancel-btn:focus {
  outline: none;
  border-radius: 3px;
  border: 1px solid #51cbee;
}

.error {
  color: #FF4E33;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
}
