<div
  class="item-section"
  [appHighlightBorder]="course.creationDate"
  [ngClass]="{ 'item-section-top-rated': course.topRated }"
>
  <div class="item-title">
    <p>{{ course.title }}</p>
    <mat-icon *ngIf="course.topRated" class="material-icons-outlined rate-star"
      >star</mat-icon
    >
  </div>
  <div class="date-time-section">
    <mat-icon class="clock-icon">query_builder</mat-icon>
    <p class="date-time-section-text duration">
      {{ course.duration | minutesToHours }}
    </p>
    <mat-icon class="calendar-icon">calendar_today</mat-icon>
    <p class="date-time-section-text creation-date">
      {{ course.creationDate | date: "MM/dd/yyyy" }}
    </p>
  </div>
  <p class="item-description">{{ course.description }}</p>
  <button (click)="openEditCoursePage(course.id)" class="edit-btn">
    <mat-icon class="edit-btn-icon">edit</mat-icon>
    Edit
  </button>
  <button (click)="delete()" class="delete-btn">
    <mat-icon class="delete-btn-icon">delete</mat-icon>
    Delete
  </button>
</div>
