@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

.header-bg {
  display: flex;
  align-items: center;
	background: #303240;
	height: 60px;
	width: 1280px;
}

.user-login-text {
	line-height: 24px;
	letter-spacing: 0;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "SourceSansPro-Regular";
	text-transform: none;
  text-decoration: none;
	text-align: right;
	height: 24px;
	width: 59px;
  margin-right: 28px;
}

.user-login-section {
  display: flex;
  align-items: center;
  height: 16px;
	width: 16px;
  margin-left: auto;
  margin-right: 5px;
}

.user-login-icon {
  font-size: 12px;
  color: white;
}

.logout-text {
	line-height: 24px;
	letter-spacing: 0;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "SourceSansPro-Regular";
	text-transform: none;
  text-decoration: none;
	text-align: right;
	height: 24px;
	width: 45px;
  margin-right: 85px;
}

.logout-icon {
  font-size: 12px;
  color: white;
  vertical-align: middle;
  margin-right: 6px;
}
