<app-courses-page-item
  (deleteCourse)="deleteCourse($event)"
  *ngFor="
    let course of courses$ | async | paginate : {
      itemsPerPage: itemsPerPage,
      currentPage: currentPage,
      totalItems: totalItems$ | async
    };
    trackBy: trackByCourseId
  "
  [course]="course"
></app-courses-page-item>
<div *ngIf="(totalItems$ | async)! > 0" class="load-more-section">
  <pagination-controls class="ngx-pagination"
    previousLabel="{{ 'SHARED.BUTTONS.PREVIOUS_PAGE' | translate }}"
    nextLabel="{{ 'SHARED.BUTTONS.NEXT_PAGE' | translate }}"
    (pageChange)="handlePageChange($event)">
  </pagination-controls>
</div>
<p *ngIf="(totalItems$ | async) === 0" class="no-items-to-display">
  {{ "No data, feel free to add new course" | uppercase }}
</p>
