@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("/assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
}

.breadcrumbs-section {
  display: flex;
  align-items: center;
	background: #FFFFFF;
	height: 64px;
	width: 1280px;
}

.breadcrumbs-text {
	line-height: 24px;
	letter-spacing: 0;
	color: #464A5A;
	font-size: 14px;
	font-family: "SourceSansPro-Bold";
	text-transform: none;
	text-align: left;
	font-weight: 700;
	height: 24px;
	width: 50px;
  margin-left: 85px;
  margin-bottom: 0px;
}
