@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("/assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

.breadcrumbs-section {
  display: flex;
  align-items: center;
	background: #FFFFFF;
	height: 64px;
	width: 1280px;
}

.breadcrumbs-text-box {
  display: flex;
  align-items: center;
	background: #FFFFFF;
	height: 64px;
	width: 1110px;
  margin-left: 85px;
}

.breadcrumbs-text {
	line-height: 24px;
	letter-spacing: 0;
	color: #464A5A;
	font-size: 14px;
	font-family: "SourceSansPro-Regular";
	text-transform: none;
	text-align: left;
	font-weight: 700;
	height: 24px;
	width: 50px;
}

.breadcrumbs-text-bold {
	font-family: "SourceSansPro-Bold" !important;;
}

.breadcrumbs-separator {
  margin: 5px;
  color: #009ECC;
  font-family: "SourceSansPro-Bold";
}
