/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #555; }

.mat-tooltip {
  font-size: 12px;
}

.mat-datepicker-input {
  font-size: 14px;
  font-family: "SourceSansPro-Regular";
  color: black !important;
}

.mat-chip {
  font-size: 14px;
  font-family: "SourceSansPro-Regular";
}

.mat-standard-chip {
  border-radius: 3px !important;
}

.mat-option-text {
  font-size: 14px;
  font-family: "SourceSansPro-Regular";
}

.mat-autocomplete-trigger:focus {
  outline: none;
}

