@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("/assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}


.item-section {
	border-radius: 6px;
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(29,30,38,0.10), 0 2px 10px 0 rgba(29,30,38,0.15);
	height: 140px;
	width: 1110px;
  margin-left: 85px;
  margin-bottom: 24px;
}

.item-title  {
	color: #333333;
	font-size: 24px;
	font-family: "SourceSansPro-Semibold";
	text-transform: none;
	text-align: left;
	font-weight: 600;
	height: 31px;
	width: 600px;
  margin: 0;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 10px;
}

.item-description {
	line-height: 18px;
	letter-spacing: 0;
	color: #474A59;
	font-size: 14px;
	font-family: "SourceSansPro-Regular";
	text-transform: none;
	text-align: left;
	height: 54px;
	width: 876px;
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
}
